.sidemenu-container {
    position: fixed;
    top: 0%;
    bottom: 0%;
    background: var( --text-color);
    text-align: center;
    padding: .3em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 20%;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.313); */
    /* border-radius: 2px;角を丸くする */
    box-shadow: inset -8px 0 10px -6px #0f172a;
}

.sidemenu-box {
    height: 100%;
    /* margin: .5em */
}

.sidemenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    /* border: 1px solid white */
}

.sidemenu h2, .item-link{
    color: var(--background-color)
}

.sidemenu h2 {
    border-bottom: 2px solid var(--btn-color-primary);
}

.user-details {
    /* border: 1px solid red; */
    margin-top: 1em;
}

.user-details p, .logout a{
    /* border: 1px solid red; */
    /* font-weight: 500; */
}

.menu-items {
    padding: 1em;
    gap: .5em;
}

.item-link {
    display: flex;
    align-items: center;
    /* background: yellow; */
    /* margin: 0 auto; */
    font-size: 1.2em;
    text-decoration: none;
    /* gap: .5em; */
    margin-bottom: .3em;
    padding: .1em;
    border: 2px solid transparent;
    border-radius: .3em;
    /* background-color: red; */
    justify-content: space-around;
    /* border: 1px solid white */
}

.item-text {
    /* display: none; */
    padding:.2em;
    font-size: .8em;
}

.item-text p {
    color: var(--background-color)
}

.item-icon {
    padding-left: .2em;
    font-size:1.4em;
    height: 100%;
    display: flex;
    padding: 0.2em;
}

.active {
    /* color: var(--text-color); */
    background: var(--btn-color-primary);
    font-weight: 500;
}

.active, .active p{
    color: var(--text-color);
}

.item-link:hover {
    background-color: var(--btn-color-primary);
    color: var(--text-color)
}

.item-link:hover .item-text p {
    color: var(--text-color)
}


/* .logout .item-text {
    color: var(--background-color);
} */

.logout:hover {
    background-color: transparent;
    color: var(--background-color);
    cursor: pointer;
}

.logout:hover .item-text p {
    color: var(--background-color);
    text-decoration: underline;
    
}

/* .logout p:hover{ */
    /* align-self: flex-start */
    /*  */
    /* color: var(--btn-color-primary); */
    /*  */
/* } */

/* .logout-btn {
    height:.3em
} */

.logo {
    color: var(--background-color);
    width: 85px;
    height: 85px;
}

.logo:hover {
    color: var(--btn-color-primary)
}

@media (min-width: 320px) and (max-width: 768px) {
    /* Sidemenu */
    .sidemenu-container {
        padding: 0
    }

    .sidemenu-box {
        margin: 0
    }

    .menu-items {
        padding: 0;
    }

    .item-text{
        display: none;
    }
}

