.container {
    background: var(--background-color);
}

main {
    /* background-color: green; */
    padding: 1.5em 1.1em;
    margin-left: 20%;
    overflow-y: auto;
}

@media (min-width: 320px) and (max-width: 768px) {
    main {
        margin-left: 15%;
    }
}

