.container {
    background: var(--background-color);
    /* display: flex;
    flex-direction: row; */
    /* background: red; */
    /* min-height: 100vh; */
    /* position: relative */
}

main {
    /* background-color: green; */
    margin-left: 20%;
    overflow-y: auto;
}

@media (min-width: 320px) and (max-width: 768px) {
    main {
        margin-left: 15%;
    }
}

