.videoplay {
  text-decoration: none;
  color: var(--text-color);
}

.video {
    width: 13.5em;
    /* border: 1px solid #d4cece; */
    border-radius: 5px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    /* border-bottom: 2px solid var(--text-color); */
    position: relative;
    height: 100%;
    animation-duration: 0.3s;
    animation-name: slidein;
  }
  
  
  .video img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: .3s;
  }

  .video:hover  .thumbnail{
    /* background-size: cover; */
    transform: scale(1.05);
    /* width: 110% */
  }
  
  .content {
    margin: 0px 10px;
  }
  
  .details {
    /* border: 1px solid red; */
    padding: 0 .3em .3em
  }

  /* .video-name{
    margin: 0
    } */

  .details .description {
    /* border: 1px solid blue; */
    /* color: red; */
    /* margin: 10px 0; */
    height: 55px
  }
  

  .details .description p, .video-name h4 {
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    
  }

  .video-name h4 {
    -webkit-line-clamp: 1;
  }

  .details .description p {
    font-weight: 400;
    font-size:.7em
  }

  .author p, .delete p {
    font-weight: 400;
    font-size:.7em
  }
  
  .delete p:hover {
    text-decoration: underline
  }
  