* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
/* font-size: 20px; */
}

h1, h2, h3, h4, h5, p {
  color: var(--text-color);
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


:root{
  --btn-color-primary: #F9C62E;
  /* slate */
  --background-color: #f8fafc;
  --text-color: #334155
}

button, input[type="submit"] {
  cursor: pointer
}

/* login/signup slide in animation */
@keyframes slidein {
  0% {
    transform: translateX(90%);
  }

  100% {
    transform: translateX(0%);
  }
}
