.video-display{
    height: 100%;
    display:flex;
    flex-direction: column;
    position: relative
}

.back-to-courses {
    color: var(--text-color);
    align-self: flex-end;
    text-decoration: underline
}

.video-player {
    padding-bottom: 46.25%;
    width:80%;
    height: 0;
    border: 1px solid red;
    position: relative
}

.video-display iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-details {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    gap: .8em 
}


.video-stats {
    font-weight: 500;
    display: flex;
    gap: 1em
}

.description h1 {
    margin: 0
}

@media (min-width: 320px) and (max-width: 480px) {
    .video-player {
        width: 100%;
        padding-bottom: 56.25%;
      }
}